<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
  </head>
  <body>
    <h1>Bass Guitars Edit Page</h1>
    <form action="/basses/<%=bass.id%>?_method=PUT"
     method="POST">
       Brand:
       <select class="selectpicker" data-style="btn-info" name="brand" value="<%=bass.brand%>">
               <optgroup label="Select Brand">
                   <option name="brand" value="Warwick">Warwick</option>
                   <option name="brand" value="Rickenbacker">Rickenbacker</option>
                   <option name="brand" value="Dean">Dean</option>
               </optgroup>
           </select>
       <br/>
       Number of Strings: <input type="number" name="strings" value="<%=bass.strings%>" min="4" max="6"><br/>
       Type of Wood:
       <select class="selectpicker" data-style="btn-info" name="wood" value="<%=bass.wood%>">
               <optgroup label="Select Wood">
                   <option name="wood" value="Mahogany">Mahogany</option>
                   <option name="wood" value="Bubinga">Bubinga</option>
                   <option name="wood" value="Basswood">Basswood</option>
                   <option name="wood" value="Alder">Alder</option>
               </optgroup>
           </select>
       <br/>
       Type of Fretboard:
       <select class="selectpicker" data-style="btn-info" name="fretboard" value="<%=bass.fretboard%>">
               <optgroup label="Select Fretboard">
                   <option name="fretboard" value="Ebony">Ebony</option>
                   <option name="fretboard" value="Rosewood">Rosewood</option>               <option name="fretboard" value="Finished">Finished</option>
               </optgroup>
           </select>
       <br/>

        Ready to Build:
          <input type="checkbox" name="readyToBuild"
              <% if(bass.readyToBuild === true) { %>
                  checked
              <% } %>
          /><br/><br/>
        <input type="submit" value="Update">
    </form>

    <br/>
    <nav>
      <a href="/">Return to Main Page</a>
    </nav>
    <br/>

    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
    </form>

  </body>
</html>
