<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

    <!-- BootStrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My CSS Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
  </head>
  <body>
    <h1>Bass Guitars To Be Built</h1>
    <br/><br/>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav>
            <a class="btn btn-primary btn-lg" href="/basses/new">Create a New Bass Guitar</a>
          </nav>
        </div>

        <div class="col">
          <nav>
            <a class="btn btn-primary btn-lg" href="/">Return to Main Page</a>
          </nav>
        </div>
        <!-- <div class="col"> -->
          <nav>
            <form action="/sessions?_method=DELETE" method="POST">
                <input class="btn btn-primary btn-lg" type="submit" value="Logout"/>
            </form>
          </nav>
        <!-- </div> -->
      </div>
    </div>
    <br/><br/>

    <ul>
      <% for(let i = 0; i < basses.length; i++){ %>
        <li>

        <div class="container">
          <div class="editOutput">
          Your
            <a href="/basses/<%=basses[i].id%>" style="color: white">
              <%=basses[i].brand; %>
            </a>

          Bass Guitar with <%=basses[i].strings; %>
          Strings || Wood Type: <%=basses[i].wood; %>
          || Fretboard: <%=basses[i].fretboard; %>
          <br/><a style="color: white"><% if(basses[i].readyToBuild === true){ %>
            IS READY TO BE BUILT!
            <a href="/basses/<%=basses[i].id%>" type="submit"/>Order?</a>

          <% } else { %>
            Is *NOT* Ready to Build</a>
          <% } %>

            <a class="btn btn-outline-primary" href="/basses/<%=basses[i].id%>/edit">
              Edit
            </a>
          </div>
        </div>

          <form
          action="/basses/<%=basses[i].id%>?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="DELETE"/>
          </form>
          <br/>

        </li>
      <% } %>
    </ul>

    <% include ../partials/footer.ejs %>

  </body>
</html>
