<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
  </head>
  <body>
    <h1>Guitars Index Page</h1>
    <ul>
      <% for(let i = 0; i < guitars.length; i++){ %>
        <li>
          Your
            <a href="/guitars/<%=guitars[i].id%>">
              <%=guitars[i].brand; %>
            </a>
          Guitar with <%=guitars[i].strings; %>
          strings which is made out of <%=guitars[i].wood; %>
          wood with a <%=guitars[i].fretboard; %> fretboard:
          <% if(guitars[i].readyToBuild === true){ %>
            IS READY TO BE BUILT!
          <% } else { %>
            CANNOT be built to these specs
          <% } %>
          <form
          action="/guitars/<%=guitars[i].id%>?_method=DELETE" method="POST">
          <br/>
            <input type="submit" value="DELETE"/>
          </form>
          <br/>
          <a href="/guitars/<%=guitars[i].id%>/edit">
            Edit
          </a>
        </li>
      <% } %>
    </ul>
    <nav>
      <a href="/guitars/new">Create a New Guitar</a>
    </nav>

    <br/>
    <nav>
      <a href="/">Return to Main Page</a>
    </nav>

    <br/>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
    </form>
  </body>
</html>
