<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Guitars Edit Page</h1>
    <form
    action="/guitars/<%=guitar.id%>?_method=PUT"
     method="POST">
       Brand: <input type="text" name="brand" value="<%=guitar.brand%>"><br/>
       Number of Strings: <input type="text" name="strings" value="<%=guitar.strings%>"><br/>
       Type of Wood: <input type="text" name="wood" value="<%=guitar.wood%>"><br/>
       Type of Fretboard: <input type="text" name="fretboard" value="<%=guitar.fretboard%>"><br/>

        Ready to Build:
          <input type="checkbox"
          name="readyToBuild"
              <% if(guitar.readyToBuild === true) { %>
                  checked
              <% } %>
          /><br/>
        <input type="submit" value="Update">
    </form>
  </body>
</html>
